#block {
    width: 33.33%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
  }
  
  #main-container {
    display: flex;
    flex-direction: column;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  

  
  .img {
    width: 90%;
    height: 75vh;
    object-fit: cover;
  }
  .designation{
    background-color: #0F4C81;
    color: #fff;
    height: 10%;
    width: 40%;
    position: absolute;
    top: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 4vh;
  }
  .name{
    font-size: 4vh;
    font-family: sans-serif;
    font-weight: 800;
  }
  .desc{
    font-family: sans-serif;
    color: #a09996;
    font-weight: lighter;
    font-size: 30px;
    line-height: 4vh;

  }

  .designation,
  .name,
  .desc {
    margin: 0;
  }
  
.social-handles{
    display: flex;
    flex-direction: row;
    width: 200px;
    text-align: start;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}
.social-handles > li {
    font-size: 25px;
}

.facebook > a, .instagram > a, .linkedIn > a{
    color: black;
}

